@font-face {
  font-family: vazir;
  src: url(../font/Vazir-FD-WOL.eot);
  src: url(../font/Vazir-FD-WOL.ttf), url(../font/Vazir-FD-WOL.woff), url(../font/Vazir-FD-WOL.woff2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 2; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: vazir, cursive;
  color: #54483A;
  font-weight: 500;
  background-color: #fcfdfd; }

.heading-1 {
  font-size: 4.5rem;
  margin-bottom: 4rem; }

.heading-2 {
  font-size: 3rem;
  margin-bottom: 2rem; }

.heading-3 {
  font-size: 2rem;
  margin-bottom: 1rem; }

.heading-4 {
  font-family: vazir, cursive;
  font-size: 1.5rem; }

.paragraph {
  font-size: 1.3rem;
  line-height: 2; }

h1, h2, h3, h4, h5, h6, a {
  font-family: vazir, cursive; }

.nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  background-color: #20ab6d;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  right: 0;
  width: 100vw;
  box-shadow: 0 2px 1rem rgba(48, 48, 47, 0.5);
  z-index: 2000; }
  .nav__item {
    list-style: none;
    margin-left: auto;
    display: flex; }
    .nav__item--list {
      display: inline-block; }
    .nav__item a, .nav__item a:link, .nav__item a:visited {
      text-decoration: none;
      padding: 1rem 2rem;
      font-family: vazir, cursive;
      font-size: 1.6rem;
      color: #fcfdfd;
      border: none;
      border-radius: none;
      cursor: pointer;
      transition: all 0.2s; }
    .nav__item a:hover, .nav__item a:active {
      text-shadow: 0 0 1rem rgba(252, 253, 253, 0.3); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #fcfdfd;
  padding: 1rem 3rem;
  border: none;
  cursor: pointer; }

.btn-nav-login {
  justify-self: center;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  transition: all 0.3s; }
  .btn-nav-login:hover, .btn-nav-login:active {
    text-shadow: 0 0 1rem rgba(252, 253, 253, 0.3);
    transform: scale(1.1); }

.btn-continue, .btn-continue:link, .btn-continue:visited {
  padding: 1.6rem 4rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  background-color: #20ab6d;
  box-shadow: 0 0 3rem rgba(32, 171, 109, 0.2);
  transition: all 0.2s; }

.btn-continue:hover, .btn-continue:active {
  background-color: #fcfdfd;
  color: #54483A;
  box-shadow: 0 0 3rem rgba(252, 253, 253, 0.2); }

.btn-order, .btn-order:link, .btn-order:visited {
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: #358cda;
  box-shadow: 0 1rem 3rem rgba(48, 48, 47, 0.3);
  border-radius: 5px;
  transition: all 0.2s ease; }

.btn-order:hover {
  box-shadow: none; }

.btn-order:active {
  background-color: #123d64; }

.btn-read-more, .btn-read-more:link, .btn-read-more:visited {
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: #358cda;
  box-shadow: 0 1rem 3rem rgba(48, 48, 47, 0.3);
  border-radius: 5px;
  transition: all 0.2s ease; }

.btn-read-more:hover {
  box-shadow: none; }

.btn-read-more:active {
  background-color: #123d64; }

.btn-accept, .btn-accept:link, .btn-accept:visited {
  padding: 1.5rem 6rem;
  font-size: 2rem;
  border-radius: 1rem;
  background-color: #fcfdfd;
  color: #54483A;
  box-shadow: 0 2rem 3rem rgba(252, 253, 253, 0.2);
  display: flex;
  transition: all 0.2s; }

.btn-accept:hover, .btn-accept:active {
  color: #20ab6d;
  box-shadow: 0 2rem 3rem rgba(252, 253, 253, 0.5); }

.btn-accept span {
  align-self: center;
  margin-left: 1rem; }

.btn-footer, .btn-footer:link, .btn-footer:visited {
  padding: 3px 6rem;
  font-size: 1.3rem;
  color: #fcfdfd;
  transition: all 0.2s; }

.btn-footer:hover, .btn-footer:active {
  color: #20ab6d;
  transform: scale(1.1); }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 4rem;
  background-color: #fcfdfd;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #fcfdfd;
  transition: all 0.2s; }
  .card:hover {
    border-bottom: 5px solid #358cda;
    box-shadow: 0 1rem 3rem rgba(48, 48, 47, 0.3); }
  .card__icon {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #20ab6d;
    border: 8px solid #fcfdfd;
    position: relative; }
    .card__icon span {
      font-size: 4rem;
      color: #fcfdfd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card__title {
    color: #20ab6d;
    text-shadow: 0 0 1rem rgba(32, 171, 109, 0.3);
    margin-top: 2rem; }
  .card__text {
    margin-top: 1rem; }

.select {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
  width: 100%; }
  .select .select-view {
    font-size: 1.3rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: #fcfdfd;
    opacity: 0.8;
    width: 90%;
    margin-bottom: 3px;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease; }
    .select .select-view .select-view__text {
      margin-right: 1rem;
      transition: all 0.2s ease; }
    .select .select-view .select-view__icon {
      font-size: 1.5rem;
      transition: all 0.2s ease; }
  .select .select-options {
    font-size: 1.4rem;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    background-color: #fcfdfd;
    width: 90%;
    box-shadow: 0 1rem 2rem rgba(48, 48, 47, 0.3);
    z-index: 20;
    position: absolute;
    top: 100%;
    display: none;
    opacity: 0;
    transition: all 0.2s; }
  .select .select-option {
    padding: 0.5rem 0;
    color: #54483A;
    display: block;
    transition: all 0.2s ease; }
    .select .select-option:hover {
      transform: scale(1.07); }
  .select:hover .select-options {
    opacity: 1;
    display: block; }
  .select:hover .select-view__icon,
  .select:hover .select-view__text {
    color: #358cda; }
  .select:hover .select-view {
    opacity: 1;
    box-shadow: 0 1rem 2rem rgba(48, 48, 47, 0.3); }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: inherit;
  width: 100%;
  display: grid;
  grid-template-rows: 1.3fr 5fr;
  grid-template-columns: repeat(3, 1fr); }
  .form h2 {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
    color: #fcfdfd;
    text-shadow: 0 2px 5px rgba(252, 253, 253, 0.5); }
  .form__container {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1.5rem;
    margin-bottom: auto;
    padding: 0 10rem; }
  .form-group {
    margin: 1.5rem 0;
    flex: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; }
    .form-group .form__label {
      position: absolute;
      top: -2.5rem;
      right: 5px;
      font-size: 1.3rem;
      color: #fcfdfd;
      text-shadow: 0 2px 5px rgba(252, 253, 253, 0.5);
      pointer-events: none;
      opacity: 1;
      transition: all 0.2s ease; }
    .form-group__btn {
      display: flex;
      justify-content: center; }
      .form-group__btn a, .form-group__btn a:link, .form-group__btn a:visited {
        padding: 1.5rem 6rem;
        font-size: 2rem;
        border-radius: 1rem;
        background-color: #fcfdfd;
        color: #54483A;
        box-shadow: 0 2rem 3rem rgba(252, 253, 253, 0.2);
        display: flex;
        transition: all 0.2s; }
      .form-group__btn a:hover, .form-group__btn a:active {
        color: #20ab6d;
        box-shadow: 0 2rem 3rem rgba(252, 253, 253, 0.5); }
      .form-group__btn a span {
        align-self: center;
        margin-left: 5px; }
  .form-dates {
    width: 100%; }
  .form-date {
    position: relative;
    width: 30.3%;
    display: inline-block; }
    .form-date .form__label {
      position: absolute;
      top: -2.5rem;
      right: 5px;
      font-size: 1.3rem;
      color: #fcfdfd;
      text-shadow: 0 2px 5px rgba(252, 253, 253, 0.5);
      pointer-events: none;
      opacity: 1;
      transition: all 0.2s ease; }
  .form__input {
    font-size: 1.3rem;
    font-family: vazir, cursive;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    width: 90%;
    padding: 1.5rem 1rem;
    background-color: rgba(252, 253, 253, 0.8);
    color: #54483A;
    transition: all 0.2s ease; }
    .form__input:focus {
      background-color: #fcfdfd;
      outline: none;
      box-shadow: 0 1rem 2rem rgba(48, 48, 47, 0.3); }
    .form__input:placeholder-shown + .form__label {
      position: absolute;
      right: 2rem;
      top: 1.3rem;
      opacity: 0; }
    .form__input-text {
      display: block; }

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  align-content: center;
  background-image: linear-gradient(rgba(48, 48, 47, 0.5), rgba(48, 48, 47, 0.5)), url("../img/insurans-md.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  .header-intro {
    grid-column: 2 / 5;
    grid-row: 3 / 7;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header-intro__title {
      color: #fcfdfd; }
    .header-intro__text {
      color: #fcfdfd;
      font-size: 1.7rem;
      transform: translateY(-2rem); }
    .header-intro__btn {
      grid-row: 7 / -1;
      grid-column: 3/4;
      justify-self: center; }
      .header-intro__btn span::before {
        margin-left: .5rem; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 2rem; }
  .feature h2 {
    margin-bottom: 7rem; }
  .feature-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem; }

.reminder {
  background-image: linear-gradient(105deg, rgba(53, 140, 218, 0.65) 0%, rgba(32, 171, 109, 0.65) 100%), url("../img/man-cellphone.jpg");
  background-size: cover;
  background-position: center;
  margin: 5rem 20rem;
  height: 50rem;
  border-radius: 10px;
  box-shadow: 1rem 2rem 5rem rgba(48, 48, 47, 0.5);
  position: relative; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem 2rem; }
  .services h2 {
    margin-bottom: 7rem; }
  .services-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(25rem, 20rem));
    gap: 3rem; }
  .services .card-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    height: 4rem;
    width: 4rem;
    fill: #fcfdfd; }

.comments {
  margin: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }
  .comments h2 {
    flex: 100%;
    text-align: center;
    margin-bottom: 8rem;
    text-shadow: 0 0 2rem rgba(53, 140, 218, 0.5); }
  .comments i {
    font-size: 7rem;
    color: #6D5D4B;
    transition: all 0.3s ease; }
    .comments i:hover {
      transform: scale(1.3);
      color: #358cda; }
  .comments .left {
    margin-left: 10rem; }
  .comments .right {
    margin-right: 10rem; }
  .comments .comments-container {
    width: 60%;
    height: auto;
    background-color: #20ab6d;
    border-radius: 1rem;
    margin: auto;
    padding: 3rem 2rem;
    box-shadow: 0 0 5rem rgba(32, 171, 109, 0.5);
    display: flex;
    justify-content: space-around; }
    .comments .comments-container .comments-item {
      background-color: #fcfdfd;
      width: 30%;
      padding: 1rem;
      border-radius: 1rem; }
      .comments .comments-container .comments-item__infos {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-right: 1.5rem; }
        .comments .comments-container .comments-item__infos .comments-item__image {
          width: 7rem;
          height: 7rem;
          object-fit: cover;
          border-radius: 50%;
          border: 4px solid #fcfdfd;
          margin-left: 1rem; }
        .comments .comments-container .comments-item__infos .comments-item__detail p {
          font-size: 1.1rem; }
      .comments .comments-container .comments-item .comments-item__review {
        padding: 1rem 2rem;
        margin-top: 1rem;
        border-top: 1px solid rgba(48, 48, 47, 0.2); }

.blog {
  background-color: #f8f8f8;
  margin: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog h2 {
    text-shadow: 0 0 1rem rgba(48, 48, 47, 0.2); }
  .blog .blog-container {
    display: flex;
    justify-content: center; }
    .blog .blog-container .blog-item {
      width: 31rem;
      border-radius: 5px;
      background-color: #fcfdfd;
      box-shadow: 0 1rem 2rem rgba(84, 72, 58, 0.3);
      margin: 5rem 2rem; }
      .blog .blog-container .blog-item__head {
        position: relative; }
        .blog .blog-container .blog-item__head img {
          height: 20rem;
          width: 100%;
          object-fit: cover;
          border-radius: 5px; }
        .blog .blog-container .blog-item__head .blog-item__date {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          margin: 1.2rem 1rem; }
        .blog .blog-container .blog-item__head .month {
          background-color: #20ab6d;
          border-radius: 3px 0 0 3px;
          padding: 2px 1.2rem;
          color: #fcfdfd; }
        .blog .blog-container .blog-item__head .day {
          background-color: #fcfdfd;
          border-radius: 0 3px 3px 0;
          padding: 2px 1rem; }
      .blog .blog-container .blog-item__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        color: #54483A; }
        .blog .blog-container .blog-item__body h3 {
          padding: 0 1rem;
          text-shadow: 0 0 1rem rgba(48, 48, 47, 0.2);
          transition: all 0.2s ease;
          font-size: 1.8rem;
          cursor: pointer; }
          .blog .blog-container .blog-item__body h3:hover {
            color: #20ab6d;
            text-shadow: 0 0 1rem rgba(32, 171, 109, 0.3); }
        .blog .blog-container .blog-item__body p {
          padding: 0 1rem; }
        .blog .blog-container .blog-item__body a {
          margin: 2rem 0; }

.contact {
  margin: 5rem 20rem; }
  .contact h2 {
    text-align: center;
    margin-bottom: 4rem; }
  .contact-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(48, 48, 47, 0.3);
    border-radius: 2rem; }
  .contact-us {
    flex: 35%;
    background-color: #fcfdfd;
    padding: 5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .contact-us__group {
      display: flex; }
      .contact-us__group:not(:last-child) {
        margin-bottom: 2rem; }
      .contact-us__group i {
        font-size: 3.5rem;
        margin-left: 3rem; }
    .contact-us__instagram p {
      font-family: cursive; }
    .contact-us__instagram, .contact-us__phone {
      transition: all 0.2s ease;
      cursor: pointer; }
      .contact-us__instagram:hover, .contact-us__phone:hover {
        color: #20ab6d; }
  .contact-review {
    flex: 65%;
    background-image: linear-gradient(to right, rgba(32, 171, 109, 0.5), rgba(53, 140, 218, 0.5)), url(../img/girl.jpg);
    background-size: cover;
    background-position: left;
    padding: 5rem 20rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .contact-review .form-group {
      margin: 2rem 0; }
      .contact-review .form-group input {
        margin-left: 2rem;
        width: 100%; }
      .contact-review .form-group textarea {
        width: 100%;
        min-height: 15rem;
        margin-left: 2rem; }
      .contact-review .form-group .form-baham {
        position: relative;
        width: 50%;
        margin-left: 2rem; }

.footer {
  background-color: #30302f;
  padding: 5rem 10rem 2rem;
  display: flex;
  flex-wrap: wrap; }
  .footer-links {
    display: flex;
    flex-direction: column; }
  .footer-logos {
    margin-right: auto;
    align-self: center; }
    .footer-logos img {
      height: 10rem;
      background-color: #fcfdfd;
      padding: 1rem;
      border-radius: 50%;
      border: 3px solid #20ab6d; }
  .footer p {
    color: #fcfdfd;
    text-align: center;
    margin-top: 2rem;
    width: 100%; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, minmax(10rem, min-content)); }
